
  <div id="question-form">
    <form id="question" method="post" action="/questions">
      <table>
        <tr><td>Title:</td></tr>
        <tr><td><input type="text" name="title" placeholder="title"/></td></tr>
        <tr><td>Body:</td></tr>
        <tr><td><textarea rows="7" cols="50" name="question" placeholder="Enter your description..."></textarea></td></tr>
        <tr><td><input type="submit" value="Submit Question!"/></td></tr>
      </table>
    </form>
  </div>
