<% if @errors %>
  <span>Something went wrong:</span>
  <ul class="error-list pad-b-2">
    <% @errors.each do |error| %>
      <li class="error-item"><%= error %></li>
    <% end %>
  </ul>
<% end %>
<h1>Edit your question</h1>
<form class="" action="/questions/<%= @question.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="edit[title]" value="<%= @question.title %>"><br>
  <textarea name="edit[question]"><%= @question.question %></textarea><br>
  <input type="submit" value="Update your question">
</form>
