<br><br>

<h1> Hmmm looks like this feature is not yet complete, how about you watch this fun video about Badgers instead of checking out your Badges.</h1>
<div class="video">
<iframe width="1280" height="720" src="https://www.youtube.com/embed/hGlyFc79BUE?autoplay=1" frameborder="0" allowfullscreen></iframe>
</div>
