<h1 class="all-users-header">All Users</h1>


  <ul class="regular-list">
    <% @users.each do |user| %>
      <li class="each-user"><div class="user-box"><%= user.first_name %> <%= user.last_name %><br><a href="/users/<%= user.id %>"><%= user.username %></a></div></li>
    <% end %>
  </ul>
