<div class="container">
  <h1 class="register-login-header">Create a new account!</h1><br>
  <% if @errors %>
  <ul>
  <% @errors.each do |error| %>

    <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>
  <form class="edit-forms" action="/users" method="post">
    <table class="edit-forms">
      <tr>
        <td><label for="user[first_name]">First Name:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input name="user[first_name]" type="text"></td>
      </tr>
      <tr>
        <td><label for="user[last_name]">Last Name:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input name="user[last_name]" type="text"></td>
      </tr>
      <tr>
        <td><label for="user[location]">Location:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input name="user[location]" type="text"></td>
      </tr>
      <tr>
        <td><label for="user[username]">Username:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input name="user[username]" type="text"></td>
      </tr>
      <tr>
        <td><label for="user[email]">Email:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input name="user[email]" type="email"></td>
      </tr>
      <tr>
        <td><label for="user[password]">Password:</label></td>
        <td>&nbsp;&nbsp;&nbsp;</td>
        <td><input name="user[password]" type="password"></td>
      </tr>
    </table>
      <br><input type="submit" value="Create User!">
  </form>
</div>
