
    <header>
    <p class=tag-titles >Tagged Questions</p>
    <p class=tag-navbar-link >
      <a class="tag-link" href="/tags/pop_tags">popular</a>
      <a class="tag-link" href="/tags/tag_names">name</a>
      <a class="tag-link" href="/tags/new_tags">new</a>
    </p>
    <p class='tag-description'>A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.</p>
    </header>
  <!-- tag search bar
  'Type to find tags:' a post form to search -->

  <!-- tag information -->
  <container id="tag_partials">
  <%= erb(:'tags/tags_tabs', :locals => { :tags => @tags })%>
  </container>
