  <!-- page title -->
  <header>
    <h1>Tagged Questions</h1>
    <p>
      <a class="tag-link" href="/tags/popular">popular</a>
      <a class="tag-link" href="/tags/name">name</a>
      <a class="tag-link" href="/tags/new">new</a>
    </p>
    <p>A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.</p>
    </header>
  <!-- tag search bar
  'Type to find tags:' a post form to search -->

  <!-- tag information -->
  <container id="tag_partials">
  <%= erb(:'tags/tags_tabs', :locals => { :tags => @tags })%>
  </container>
