
  <header>
  <h1 class=tag-titles>Tagged Questions</h1>
    <p class=tag-navbar-link >
      <a class=tag-navbar-item class="each-tag-link" href="/tags/<%=@tag.id%>/new">newest</a>
      <a class=tag-navbar-item class="each-tag-link" href="/tags/<%=@tag.id%>/votes">votes</a>
    </p>
</header>

<container id="each_tag_partials">
<%= erb(:'tags/each_tags_tabs', :locals => { :tag => @tag, :questions => @questions })%>
</container>
