<header>
  <h1>SlackOverflow</h1>
  <p id="tabs">
    <a href="#posts">latest</a>
    <a href="#">comments</a>
    <a href="#">popular</a>
    <a href="#posts">add new question</a>
  </p>
</header>

<h2>All Questions</h2>
<div class="questions-list">
	<% @questions.each do |question| %>
		<div class="question-listing">
			<a class="question-hyperlink" href="/questions/<%= question.id %>"><%= question.title %></a>
			<p class="question-text">
				<% if question.question.length > 200 %>
					<% text = question.question[0...200]+" ..." %>
				<% else %>
					<% text = question.question %>
				<% end %>
				<%= text %>
			</p>
		</div>
	<% end %>
</div>


<form id="posts" method="post" action="/posts">
  <input type="text" name="title" placeholder="title">
  <input type="submit" value="submit new question">
</form>
