
<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="background"><img src="images/background.jpg"></div>
  <ul id="navbar">
    <li id="logo "class="navbar-item"><a  href="/"><img id="cookie-monster" src="/images/cookie-monster.jpg"></a></li>
    <% if !logged_in? %>
      <li class="navbar-item">
        <a class="navbar-link" id="login-trigger" href="/sessions/login">login <span>▼</span></a>
      <div id="login-content">
        <% if @errors %>
        <% @errors.each do |error| %>
        <ul>
          <li><%= error %></li>
          <% end %>
        </ul>
        <% end %>
          <form id="drop-login" method="post", action="/sessions/login">
          <fieldset id="inputs">
            <input id="username" type="email" name="email" placeholder="Your email address" required>
            <input id="password" type="password" name="password" placeholder="Password" required>
          </fieldset>
          <fieldset id="actions">
            <input type="submit" id="submit" value="Log in">
            <label><input type="checkbox" checked="checked"> Keep me signed in</label>
          </fieldset>
        </form>
        </div>
      </li>

      <li class="navbar-item"><a class="navbar-link" href="/users/new">register</a></li>

    <% else %>
     <li class="navbar-item"><a class="navbar-link" href="/users/<%=current_user.id%>"><%=current_user.username%></a></li>
     <li class="navbar-item"><a class="navbar-link" href="/sessions/logout">Logout</a></li>
      <% end %>
    <li id="logo "class="slack-navbar-item"><a class="navbar-link" href="/">SlackOverflow</a></li>
  </ul>

  <nav id="sorting">
    <a href="">Questions</a>
    <a href="">Jobs</a>
    <a href="">Tags</a>
    <a href="">Users</a>
    <a href="">Badges</a>
    <a href="">Ask Question</a>
  </nav>


  <%= yield %>
</body>
</html>
